
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    font-weight: 800;  
}
body{
    overflow-y: auto;
    display: block;
    flex-direction: column;
    background: #fff;
    text-align: center;
    font-family: Outfit;
    min-height: 100vh;
}
.logo{
    margin-top: 20px;
}
.sig{
    max-width: 350px;
    max-height: none;
    overflow-y: auto;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
    padding: 20px 26px;
    padding-bottom: 50px;
    border-radius: 8px;
    text-align: left;
}
.sig-h{
    font-size: 28px;
    font-weight: 400;
}
.input{
    margin-top: 20px;
    font-weight: 400;
}
.sig input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
}
.sig input:focus{
    outline: 3px solid #c2f2ff;
}
.sig button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}
.sig button:hover{
    background: #ebc712;
}
.sig-c{
    font-size: 12px;
    font-weight: 400;
}
.sig-c p,span{
    color: #0066c0;
}
.sig-help{
    font-size: 13px;
    margin: 20px 0;
}
.sig-help span{
    font-weight: 400;
}
.sig hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
}
.sig h4{
    margin: 15px 0;
    font-size: 13px;
}
.sig-b{
    font-size: 13px;
}
.sig-buttom{
    max-width: 350px;
    font-size: 13px;
    color: #737373;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.sig-buttom hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
    width: 110px;
}
.sig-u{
    width: 350px;
    height: 30px;
    font-size: 13px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
.sig-u:hover{
    background: #f1f1f1;
}
footer{
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 20px;
    padding: 20px 0;
    position: relative;
    bottom: auto;
    background: linear-gradient(to bottom, #f4f4f4,#fff);
    font-size: 12px;
    margin-top: 20px;
}
footer p{
    font-weight: 400;
}
footer .f-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
footer .f-links a{
    text-decoration: none;
    color: #0066c0;
}